<div class="navbar-minimalist">
  <%= link_to 'My lists', lists_path, class: "btn btn-primary" %>
  <%= link_to 'Add list', new_list_path, class: "btn btn-primary" %>
</div>

<div class="container">

  <h2><%= @list.name %></h2>

  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card">
        <h3>
        <%= bookmark.movie.title %>
        </h3>
        <img src='https://image.tmdb.org/t/p/w500/<%= bookmark.movie.poster_url %>'>
        <%= link_to 'Remove bookmark', list_bookmark_path(@list, bookmark), method: :delete, data: { confirm: "Are you sure?" }%>
      </div>
    <% end %>
  </div>

  <%= link_to 'Add bookmark', new_list_bookmark_path(@list) %>
  <%= link_to 'Back', lists_path %>
</div>
